.side-bar-container {
  width: 15%;
  min-width: 180px;
  flex-shrink: 0;
  z-index: 1;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  position: relative !important;
  background-color: #3d3d3d;

  .side-bar-tabs {
    float: right;
    margin-top:25px;

    .home-link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        padding: 5px 5px 5px 5px;
        border-right: 3px;
        font-size: 13px;
      }
      &:hover {
        color: #f2f2f3;
      }
    }


    .icon-link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        display: flex;
        padding: 5px 30px 5px 10px;
        margin-bottom: 5px;
        border-right: 3px solid transparent;
        width: 160px;
        font-size: 13px;
      }
      .icon {
        margin-right: 5px;
      }
      &:hover {
        color: #f2f2f3;

        .icon {
          color: #f2f2f3;
        }
      }
    }

    .link {
      text-decoration: none;
      color: #c4c8cc;

      p {
        padding: 5px 45px 5px 20px;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 13px;
      }
      &:hover {
        color: #f2f2f3;
      }
    }


    .title {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .icon {
      width: 16px;
      color: grey;
    }

    .active {
      color: #f2f2f3;

      p {
        font-weight: bold;
        background: #2d2d2d;
        color: #f2f2f3;
        border-right: 3px solid #44b396;
      }
      .icon {
        color: #f2f2f3;
      }

    }
  }
}

@media (max-width: 768px) {
  .side-bar-container {
    display: none;
  }
}
